<h2>Your Dashboard</h2>

<section>
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label><br>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="content-area">Content</label><br>
      <textarea id="content-area" name="content-area"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>