<h2 class="dash-title">Your Dashboard</h2>

<section>
  <form class="new-post-form">
    <div class="title">
      <h2>Create Post</h2>
    </div>
    <div class="form-content">
      <label for="post-title">Title</label><br>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class="form-content">
      <label for="content-area">Content</label><br>
      <textarea class="content-body" id="content-area" name="content-area"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>