<form class="login-form">
  <div class="title">
      <h2>Login</h2>
  </div>
  <div class="form-content">
    <label for="username-login">Username</label><br>
    <input type="text" id="username-login" />
  </div>
  <div class="form-content">
    <label for="password-login">Password</label><br>
    <input type="password" id="password-login"/>
  </div>
  <div class="form-content">
    <button type="submit">Login</button>
  </div>
  <div class="form-content">
      <a class="signup-link" href="/signup">Sign up instead</a>
  </div>
</form>
<script src="/javascript/login.js"></script>