* {
    box-sizing: border-box;
  }

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: black;
  background-color: rgb(230, 230, 189);
}

header {
  background-color: black;
  color: rgb(230, 230, 189);
  margin-bottom: 30px;
}

nav {
  padding-top: 20px;
}

nav a {
  padding: 20px 30px ;
  text-decoration: none;
  color: rgb(230, 230, 189);
  font-weight: bold;
}

a:hover {
  color: #3486eb;
}

h1 {
  display: inline-block;
  margin-left: 20px;
  background-color: rgb(230, 230, 189);
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 10px 10px grey;
}

h2 {
  margin-top: 0;
}

a {
  color: rgb(230, 230, 189);
  text-decoration: none;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(230, 230, 189);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.dash-title,
.comments-title  {
  text-align: center;
  text-decoration: underline;
}

.post, 
.login-form,
.signup-form,
.comment-form,
.comment,
.new-post-form,
.edit-post-form
{
  border: 5px solid black;
  margin: 10px 40px;
}

.signup-link,
.login-link,
.edit-link {
  color: blue;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color:black;
  color: rgb(230, 230, 189);
  
}

.comment-title,
.meta {
  background-color:black;
  color: rgb(230, 230, 189);
  margin: auto 0 auto;
  padding-left: 10px;
}

.comment-body {
  margin: 20px 10px;
  width: 98%;
}

.content-body {
  width: 98%;
  margin-bottom: 20px;
}

.title h2 {
  margin: auto 0 auto 10px;
}


.title p {
  margin-right: 10px;
}

.content, 
.form-content,
.text
{
  margin-left: 10px;
  margin-top: 5px;
}

#newPost,
.comment-button,
.btn {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  color: rgb(230, 230, 189);
  background-color: black;
  border-radius: 10px;
  border-style: none;
  font-size: larger;
  margin-bottom: 20px;
}

#newPost:hover,
.comment-button:hover,
.btn:hover {
  color: black;
  background-color: #3486eb;
}
